*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
    text-decoration: none;
    list-style-type: none;
}

header {
    background-color:black;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 65px;
    padding: 10px 30px 0px 30px;
}
.logo {
    height: 75px;
    padding: 0px 10px 10px 0px;
    
}
.navbar,
.navbar-list{
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar {
    gap: 150px;
}
.navbar-list {
    gap: 30px;
}
.navbar-list a {
    color: aqua;
    font-size: 15px;
}
.navbar-list li:first-child > a {
    color: rgb(235, 235, 239);
    font-weight: 500;

}
main {
    background: linear-gradient(to right, #0f2027, #203a43, #2c5364);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: aliceblue;
    width: 100%;

}
#hero {
    margin-top: 65px;
    padding: 70px 0px;
    max-width: 1200px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.hero-info{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 70%;
}
.hero-info h1 {
    font-size: 50px;
    min-width: 500px;
    font-weight: 800;
    color: aliceblue;
}
.hero-info p {
    font-size: 1rem;
    width: 70%;
    color: azure;
}
.hero-info p > span {
    font-weight: 800;
}
.hero-info a {
    color: aliceblue;
    background: black;
    width: 50%;
    padding: 8px 8px;
    border-radius: 10px;
    font-size: 16px;
    text-align: center;
}
.hero-card {
    padding: 20px 0px;
    display: flex;
    justify-content: center;
    gap: 20px;
}
.hero-image{
    width: 100%;
}
#about {
    padding: 70px 0px;
    max-width: 1200px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 70px;
}
#about h2 {
    font-size: 32px;
    font-weight: 700;
}
.info-container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.info-about{
    color: aliceblue;
    width: 50%;
    padding: 8px 8px;
    font-size: 16px;
    text-align: center;
}
#productos{
    padding: 70px 0;
    max-width: 1200px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 70px;
}
#about h2{
    font-size: 32px;
    font-weight: 700;
}
.productos-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}
.productos-info{
    background: black;
    padding: 40px 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border-radius: 20px;
    gap: 20px;
}

.productos-info img{
    width: 500px;
}
.productos-info h3{
    font-weight: 600;
    font-size: 20px;
}
#contact{
    padding: 100px 30px;
    max-width: 1200px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 150px
}
.datos{
    width: 50%;
    padding: 0 20px;
    display: inline-block;
    font-size: 20px;
    font-weight: 500;
}
.datos h3{
    font-size: 36px;
    font-weight: 800;
}
.fabrica{
    height: 300px;
}

.footer{
    background-color: black;
    padding: 80px 0;
}
.footer-row{
    display: flex;
    flex-wrap: wrap;
}
.footer-links{
    width: 25%;
    padding: 0 15px;
}
.footer-links h4{
    font-size: 20px;
    color: aliceblue;
    margin-bottom: 25px;
    font-weight: 500;
    border-bottom: 2px solid aqua;
    padding-bottom: 10px;
}
.footer-links ul li a {
    font-size: 18px;
    text-decoration: none;
    color: azure;
    display: block;
    margin-bottom: 15px;
    transition: all .3s ease;
}
.footer-links ul li a:hover{
    color: aliceblue;
    padding-left: 6px;
}
.logo-footer{
    height: 300px;
    padding: 0 200px;
}